---
layout: archive
Title: "Welcome to this page<br/>
<br/>
I believe this page will greatly assist you in evaluating my leadership and social work capabilities.<br/>
<br/>
And assess the contributions I can make to your community.<br/>
<br/>
<br/>
<font size=5>My social experiences are mainly divided into three parts:<br/>--- Student Union work experience<br/>--- Beijing 2022 Winter Olympics and Paralympics<br/>--- Other social experiences (internships or social work)<br/></font>
<br/>
<font size=5>Below is a detailed introduction, click the blue link to view the detailed content</font>

"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

