---
layout: archive
title: "Welcome to this page<br/>
<br/>
I believe this page will be helpful for you to evaluate my leadership capabilities.<br/>
<br/>
And assess what kind of contributions I can make to enrich and enhance your diverse and wonderful community.<br/>
<br/>
<br/>

"
permalink: /portfolio/
author_profile: true
---
## My social experiences are mainly composed of three parts
  - Student Union work in National School of Development, Peking University
  - Beijing 2022 Olympic & Paralympic Winter Games 
  - Other experience（Internship or Social work）


Below are the detailed introductions. <br/>Click the blue links to view the detailed content

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

