---
layout: archive
title: "Welcome to this page<br/>
<br/>
I believe this page will be helpful for you to evaluate my leadership capabilities.<br/>
<br/>
And assess what kind of contributions I can make to enrich and enhance your diverse and wonderful community.<br/>
<br/>
<br/>

"
permalink: /portfolio/
author_profile: true
---
<font size=5>My social experiences are mainly composed of three parts:
<br/>--- Student Union work in National School of Development, Peking University
<br/>--- Beijing 2022 Olympic & Paralympic Winter Games
<br/>--- Other experience（Internship or Social work）
<br/></font>
<br/>
<font size=5>Below are the detailed introductions. Click the blue links to view the detailed content. </font>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

