---
layout: archive
title: "Welcome to this page"
permalink: /publications/
author_profile: true
---
</head>
<body>
    <p>This is the summary of my various publications/papers.</p>
    <p>There are three main types:</p>
    <ul>
        <li><strong>1. Working Paper</strong>: Papers that under revisions and decide to be published.</li>
        <li><strong>2. Mathematical Model Paper</strong>: Papers that are unpublished in my experience of Mathematical Model Competitions, but shown here for you to evaluate my skills in data science/quantitative analysis or others.</li>
        <li><strong>3. Conference Paper</strong>: To prepare for the needs which may be required in future, these are published in as conference papers to demonstrate specific research or coursework achievements. Thanks to these, I have had many opportunities in my academic journey.</li>
    </ul>
    <p>Click the link to see the details.</p>
</body>
</html>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



