---
layout: archive
title: "Publications/Papers"
permalink: /publications/
author_profile: true
---
欢迎您来到该界面。
这里是我各类出版物/papers的汇总
主要为三种：
1. Working paper：正在投稿的文章

2. Mathematical Model paper： 未出版但用于您评价我在数据科学/定量分析等方面的能力

3. Conference paper: 一般而言，是我为了能够在未来相关需要的时候，展示我在一些科研/课程中的具体成果，我将其以conference paper的形式出版，也正得益于此我才得到了目前的许多机会

Click the link to see the details

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



